<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time de Vôlei</title>
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>

    <header>
        <div class="logo-container">
            <img src="/fotos/Wiki_logo2(1)(1).png" alt="Logo Time de Vôlei">
            <div class="logo-text">WikiOsasco - Sistema Administrativo</div>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/Jogo/lst">Jogos</a></li>
                <li><a href="/admin/escalacao/lst">Escalação</a></li>
                <li><a href="/admin/socio/lst">Sócios</a></li>
            </ul>
        </nav>
    </header>

    <div class="main-container">
        <h1>Bem-vindo ao Sistema Administrativo do Time</h1>
        <p>Utilize o menu acima para navegar entre as seções de jogos, escalação e sócios.</p>
    </div>

</body>

</html>
