<!--<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <a href="admin/time/lst">Time</a>
    <a href="admin/jogador/lst">Jogador</a>
</body>

</html>-->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <header>
        <nav>
            <ul style="
                list-style: none; 
                padding: 20px; 
                margin: 0; 
                display:block; 
                flex-direction: column; 
                gap: 15px; 
                background-color: rgb(148, 39, 0); 
                border-radius: 10px;
                max-width: 15%;
            ">
                <li>
                    <a href="/admin/index" style="
                        text-decoration: none; 
                        color: white; 
                        font-weight: bold; 
                        padding: 10px; 
                        display: block; 
                        border-radius: 5px;
                        transition: background 0.3s;
                    ">Home</a>
                </li>
                <li>
                    <a href="/jogos" style="
                        text-decoration: none; 
                        color: white; 
                        font-weight: bold; 
                        padding: 10px; 
                        display: block; 
                        border-radius: 5px;
                        transition: background 0.3s;
                    ">Jogos</a>
                </li>
                <li>
                    <a href="/admin/jogador/lst" style="
                        text-decoration: none; 
                        color: white; 
                        font-weight: bold; 
                        padding: 10px; 
                        display: block; 
                        border-radius: 5px;
                        transition: background 0.3s;
                    ">Jogadoras</a>
                </li>
                <li>
                    <a href="/sobre" style="
                        text-decoration: none; 
                        color: white; 
                        font-weight: bold; 
                        padding: 10px; 
                        display: block; 
                        border-radius: 5px;
                        transition: background 0.3s;
                    ">Sobre</a>
                </li>
            </ul>
        </nav>
    </header>



</head>

<body>
    <!-- <div class="container">
        <h3>Menu de Navegação</h3>
        <div class="nav-links">
            <a href="admin/time/lst" class="btn">Time</a>
            <a href="admin/jogador/lst" class="btn">Jogador</a>
        </div>
    </div> -->
</body>

</html>