<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Jogo</title>
    <link rel="stylesheet" href="/css/add.css">
      
</head>

<body>

    <header>
        <div class="logo-container">
            <img src="/fotos/Wiki_logo2(1)(1).png" alt="Logo Time de Vôlei">
            <div class="logo-text">WikiOsasco - Sistema Administrativo</div>
        </div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/Jogo/lst">Jogos</a></li>
                <li><a href="/admin/escalacao/lst">Escalação</a></li>
                <li><a href="/admin/socio/lst">Sócios</a></li>
            </ul>
        </nav>
    </header>

    <div class="form-container">
        <form action="" method="post">
            <h3>Adicionar Adversario</h3>

            <label for="adversario">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            <label for="ginasio">Estadio:</label>
            <input type="text" id="ginasio" name="ginasio" required>

            <button type="submit">Salvar</button>
        </form>
        <a class="back-link" href="/admin/Jogo/lst">Voltar para a lista</a>
    </div>

</body>

</html>
