<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <label for="">Nome</label>
        <input type="text"><br>
        <label for="">Estádio</label>
        <input type="text"><br>
        <button type="submit">Vai</button>
    </form>
</body>
</html>