<!--<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Adicionar time</title>
</head>

<body>
    <form action="">
        <label for="">Nome</label>
        <input type="text"><br>
        <label for="">Estádio</label>
        <input type="text"><br>
        <button type="submit">Vai</button>
    </form>
</body>

</html>-->

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Time</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        <h3>Adicionar Time</h3>
        <form action="" class="form">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Nome do time" required><br>

            <label for="estadio">Estádio</label>
            <input type="text" id="estadio" name="estadio" placeholder="Nome do estádio" required><br>

            <button type="submit">Salvar</button>
        </form>
    </div>
</body>

</html>