<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <title>Edição de times</title>
</head>

<body>
    <form action="" method="post">
        <label for="">Nome</label>
        <input type="text" value=""><br>
        <label for="">Estádio</label>
        <input type="text" value=""><br>
        <button type="submit">Salvar edit</button>
    </form>
    <br>

</body>

</html>