<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Times</h1>
    <div>
        <a href="admin/time/add">+ time</a>
    </div>
    <table>
        <tr>
            <td>Time</td>
            <td>Estádio</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        
    </table>
</body>
</html>