<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Times</h1>
    <div>
        <a href="/admin/time/add">+ time</a>
    </div>
    <div>
        <a href="/admin/jogador/addPlayer">+ Jogador</a>
    </div>
    <table>
        <tr>
            <td>Time</td>
            <td>Ginasio</td>
            <td>Opções</td>
        </tr>
        <tr>
            <td>Osasco</td>
            <td>José Liberatti</td>
            <td><a href="/admin/time/edt/:id">Editar</a><br />
                <a href="/admin/time/del/:id">Excluir</a><br />
            </td>
        </tr>

        <tr>
            <td>Praia Clube</td>
            <td>Adalberto Testa</td>
            <td><a href="/admin/time/edt/:id">Editar</a><br />
                <a href="/admin/time/del/:id">Excluir</a><br />
            </td>
        </tr>

        <tr>
            <td>Gerdau Minas Tênis Clube</td>
            <td>Antonio Prado Junior</td>
            <td><a href="/admin/time/edt/:id">Editar</a><br />
                <a href="/admin/time/del/:id">Excluir</a><br />
            </td>
        </tr>

    </table>
</body>

</html>