<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    </link>
</head>

<body>
    <h1>Jogador</h1>
    <div>
        <a href="/admin/jogador/add">+ Jogador</a>
    </div>
    <table>
        <tr>
            <td>Jogador</td>
            <td>Altura</td>
            <td>Peso</td>
            <td>Posição</td>
            <td>Opções</td>
        </tr>
        <tr>
            <td></td>
            <td>Macris Carneiro</td>
            <td>1.78 cm</td>
            <td>64.50kg</td>
            <td>levantadora</td>
            <td><a href="/admin/jogador/edt/:id">Editar</a><br />
            <td><a href="/admin/jogador/del/1">excluir</a><br />
            </td>
        </tr>
        <tr>
            <td>Thaisa Daher</td>
            <td>1.96</td>
            <td>76.00Kg</td>
            <td>central</td>
            <td><a href="/admin/jogador/edt/:id">Editar</a><br />
            <td><a href="/admin/jogador/del/1">excluir</a><br />
            </td>
        </tr>


    </table>
</body>

</html>